.reusableButton {
  font-family: Montserrat;
  font-weight: 700;
  background-color: #B2C7A3;
  box-shadow: inset .15em .15em .5em #8BBF58;
  color: black;
  padding: 1.5em 1em;
  margin: 1em;
  border-radius: .5em;
  border: 0px;
  outline: none;
  text-transform: uppercase;
}

.reusableButton:hover {
  background-color: #8BBF58;
  color: black;
  box-shadow: inset -.25em -.25em .5em #8BBF58;
}

.reusableButton:active {
  background-color: #5C9129;
  box-shadow: inset 0 0 10px #538723;
  outline: none;
}

.reusableButton:focus {
  outline: none;
}

.emptyButton {
  background: #fff;
  color: #538723;
  border: 0px;
  box-shadow: none;
}

.emptyButton:hover {
  color: #8BBF58;
  background-color: white;
  box-shadow: none;
}

.emptyButton:active {
  background-color: #fff;
  box-shadow: none;
}

.disabledButton, .disabledButton:hover, .disabledButton:active {
  color: #bbb;
  border: 0px;
  outline: none;
  background-color: #fff;
  box-shadow: none;
}

.shop-btn {
  max-width: 7.4rem;
}
